doctype html
html
  head
    title Lens Design Utility
    link(rel='icon', href='/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Muli')
    link(rel='stylesheet', href='/dist/styles/styles.min.css')
  body
    include ./partials/_layout.jade
    include ./partials/_templates.jade
    script(src='/dist/app/app.min.js')