.cp_embed_iframe {
    border: 1px solid;
    box-sizing: border-box;
}

pre[class*="language-"] {
    font-size: 15px;
    padding: 2.5em;
}
pre[class*="language-"] code {
    line-height: 1.5;
}

.page {
    font-size: 16px;
    line-height: 1.5;
}

// pre[class*="language-"] {
//     position: relative;
//     z-index: 1;
//     overflow: visible!important;
//     margin: 150px 0;
    
//     $skew: 3.5deg;
    
//     &:before,
//     &:after {
//         background: inherit;
//         content: '';
//         display: block;
//         height: 70%;
//         left: 0;
//         position: absolute;
//         right: 0;
//         transform-origin: 100%;
//         z-index: -1;
//     }    
//     &:before {
//         top: 0;
//         transform: skewY($skew);
//     }
//     &:after {
//         bottom: 0;
//         transform: skewY(-$skew);
//     }
    
//     &:nth-of-type(2n+1) {
//         &:before {
//             transform: skewY(-$skew);
//             transform-origin: 0%;
//         }
//         &:after {
//             transform: skewY($skew);
//             transform-origin: 0%;
//         }
//     }
// }

// .content,
// .col-md-12,
// .container {
//     padding: 0!important;
//     margin: 0!important;
//     width: 100%;
// }

// #page > div > *:not(pre) {
//     margin-right: auto;
//     margin-left: auto;
//     width: 1100px;
// }
// #page > div > pre > code {
//     margin-right: auto;
//     margin-left: auto;
//     width: 1100px;
//     display: block;
// }

// .content { margin-bottom: 80px!important; }