body {
    font-family: 'Muli', sans-serif;
    height: 100%;
    min-height: 400px;
    background: repeating-linear-gradient(
		  -45deg,
		  rgba(0,0,0,$bg-stripes-opacity * 3) 0%,
		  rgba(0,0,0,$bg-stripes-opacity) 14%,
		  #fff 14%,
		  #fff 35%,
		  rgba(0,0,0,$bg-stripes-opacity) 35%,
		  rgba(0,0,0,$bg-stripes-opacity * 3) 50%,
		  rgba(0,0,0,$bg-stripes-opacity) 65%,
		  #fff 65%,
		  #fff 86%,
		  rgba(0,0,0,$bg-stripes-opacity) 86%,
		  rgba(0,0,0,$bg-stripes-opacity * 3) 100%
		);
    background-size: 6px 6px;
}

header {
	background: $dark-bg;
	color: $dark-bg-text;
	padding: 5px 20px;
	margin-bottom: 10px;
}

.content {
    padding: 0 30px;
    height: 100%;
}

footer {
	background: $dark-bg;
	color: $dark-bg-text;
	padding: 10px;
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

@media (min-width: 768px) {
    .navbar-left {
        margin-left: -15px;
    }
}

.navbar-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
    .dropdown {
        position: absolute;
        right: 0;
        transform: translateX(100%);
    }
}

.navbar {
    z-index: 100;
    border-radius: 0;
}

.page {
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.container {
    padding-bottom: 80px;    
}

/* For the "inset" look only */
html {
    overflow: auto;
}


/* Let's get this party started */
::-webkit-scrollbar {
    width: 6px;
}
 
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
	background: rgba(200,200,200,.5);
    border: 1px solid #444;
    border-radius: 2px;
}