$image: '/dist/images/screenshot1.png';

.lens-image {
  background: url($image) no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  filter: blur(1px) grayscale(100%) sepia(10%);
  -webkit-filter: blur(1px) grayscale(100%) sepia(10%);
}

$initial-size: 350px;
.lens-circle { 
  background: url($image) no-repeat;
  background-attachment: fixed;
  border-radius: 50%;
  border: 0.5em solid #DB9A1E;
  box-shadow: 0 0 50px rgba(#111,0.8),
        inset 0 0 4px rgba(#111,0.4);
  cursor: all-scroll;  
  height: $initial-size;
  margin: -7.5em 0 0 -7.5em;
  overflow: hidden; 
  position: absolute;
  top: 260px;
  left: 15%;
  width: $initial-size;
  
  &:after {
    background: linear-gradient(rgba(255,255,255,.6), transparent);
    border-radius: 50%;
    content: '';
    height: 50%;
    left: 10%;
    position: absolute;
    top: 5%;
    width: 80%;
  }
}
