$slide-speed     : .33s;
$slide-timing    : cubic-bezier(.65, .32, .41, .76);
$sidebar-width   : 300px;
$overlay-opacity : .5;

.page-content {
  position: relative;
  left: 0;
  transition: left $slide-speed $slide-timing;
  min-height: 100vh;

  .sidebar-right.sidebar-open ~ & { left: - $sidebar-width }
  .sidebar-left.sidebar-open  ~ & { left:   $sidebar-width }
}

.page-content-overlay { 
  position: absolute; 
  width: 100%; 
  height: 100%;
  background: rgba(0, 0, 0, $overlay-opacity);

  transition: opacity $slide-speed linear,
              z-index 0s linear $slide-speed;
  opacity: 0;
  z-index: 0;

  .sidebar.sidebar-open ~ & {
    opacity: 1;
    z-index: 100;    
  }
}

.sidebar {
  position: absolute;
  min-height: 100vh;
  height: 100%;
  width: $sidebar-width;
  background: #fff;
  z-index: 1000;

  transition: left  $slide-speed $slide-timing,
              right $slide-speed $slide-timing;

  &.sidebar-left {
    left: - $sidebar-width;
    .sidebar-close,
    &.sidebar-open { left: 0; }
  }

  &.sidebar-right {
    right: - $sidebar-width;
    .sidebar-close,
    &.sidebar-open { right: 0; }
  }      
  
  .sidebar-close {
    color: #444;
    font-size: 48px;
    font-weight: 100;
    padding: 10px;
    width: 52px;
    height: 50px;
    line-height: 28px;
    position: absolute;
    cursor: pointer;
    &:hover {
      color: red;
    }
  }
}

.sidebar h3 {
    text-align: center;
    display: block;
    margin-top: 100px;
    text-transform: uppercase;
    font-size: 22px;
}
.page { 
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}
.page-content { min-height: 90vh; }
.page-body { padding: 0 30px; }



.sidebar .item {
    min-height: 100px;
    padding: 7px 15px 5px 25px;
    margin: 4px 10px;
    background: #f5f5f5;
    box-shadow: 0 1px 2px #ccc;
    border-radius: 3px;
    position: relative;
    
    > .drag-handle {
        position: absolute;
        left: 5px;
        top: 5px;
        cursor: move;
        color: #ddd;
        transition: color .2s linear;
        
        > .glyphicon.glyphicon-th {
            font-size: 22px;
            width: 14px;
            overflow: hidden;
        }
        &:hover {
            color: #aaa;
        }
    }
    
    > .remove-item {
        position: absolute;
        right: 4px;
        top: 5px;
        font-size: 32px;
        line-height: 10px;
        font-weight: 100;
        color: #ddd;
        cursor: pointer;
        opacity: 0;
        transition: opacity .2s linear;
        text-shadow: 1px 1px #fff;
        &:hover {
            color: #aaa;
        }
    }
    &:hover > .remove-item {
        opacity: 1;
    }
}