@mixin checkbox {
  &:before {
	width: .9em;
	height: .9em;
	border: 1px solid #999;
	margin-left: -1.5em;
	margin-right: .5em;
	top: .2em;
	margin-top: 1px;
  }

  &:after {
	height: calc(.9em - 4px);
	width: calc(.9em - 4px);
	margin-left: calc(-1.5em + 2px);
	top: calc(.2em + 2px);
	margin-top: 1px;
  }

  &.checked,
  &.checked strong {
	color: rgba(153, 153, 153, .5);
	font-style: italic;
  }
  &:hover,
  &.checked {
	&:after {
	  background: #aaa;
	}
  }
}

.todo {
  strong {
	 color: $strong-color;
  }
  li {
	@include checkbox();
  
	position: relative;
	list-style: none;
	font-size: 12px;
	color: $text;
  
	&:before,
	&:after {
	  content: '';
	  display: block;
	  position: absolute;
	}
  }
}
.todo-group {
  padding: 0 15px;
  margin: 5px 0;
  border: 1px solid darken($todo-easy-bg, 30%);

  &.easy { background-color: $todo-easy-bg; }
  &.hard { background-color: $todo-hard-bg; }
}

@media (min-width: 700px) {
	.todo-groups { 
		display: table;
		width: 100%;
		border-spacing: 10px;
	}
	.todo-group {
		display: table-cell;
		width: 50%;
	}
	.todo-col-group {
		display: table-row;
	}
}