$dark-bg: #222;
$dark-bg-text: #eee;
$bg-stripes-opacity: 0.02;


// White skin
$hr-color: #ccc;
$bg: #eee;
$text: #222;
$strong-color: #3BAFBE;
$li-color: #444;
$todo-group-border-color: #ccc;
$todo-easy-bg: rgba(255,255,255,.5);
$todo-hard-bg: rgba(255,0,0,.1);


/////////////////////////
// Structure

@import 'layout';
@import 'sidebar';
@import 'article';

/////////////////////////
// component

@import 'lens';

/////////////////////////
// Misc

@import 'todo';