
nav.navbar.navbar-inverse
    .container-fluid
        .navbar-collapse
                    
            ul.nav.navbar-nav.navbar-center
                li: a.navbar-brand(href='#') Lens Design Utility
                li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false'): span.caret
                    ul.dropdown-menu
                        li: a(target='_blank' href='https://bitbucket.org/code-story/lens-design-utility') Go to Bitbucket repository
                        