script#nav-template(type='application/x-backbone').
    <ul class="nav">
        <li><a href="#" id="nav-backlog">Show Backlog</a></li>
    </ul>
script#home-template(type='application/x-backbone')
    include:markdown-it ../content/home.md
script#lens-template(type='application/x-backbone')
    include ./_lens.jade