.todo.hidden
    h3 Backlog
    .todo-groups
        .todo-col-group
            .todo-group.easy
                h4 Functionality:
                ul
                    li.checked Help dialog on "?" shortcut
                    li.checked Switching to next/previous image ("n"/"p")
                    li.checked Chosing border color ("c"), size ("s"), glass reflection ("r")
                    li.checked Toggle between blur / clip mode ("m")
                    li.checked Shortcut to go back to the article ("b")
                    li: strong Upload images with GoogleDrive API
                    li Configurability, saving configurations on different urls
                    li Substitute screenshot utility or advice to use one of them
                    li Shift-drag background (for viewport smaller than image)                    
                    
            .todo-group.easy
                h4 Infrastructure:
                ul
                    li Simple server-side store for configuration examples
                    li.checked Build bundles (js+css+minification)
                    li Auto-remove unused configurations after a week(used once) / month
                    li Feedback form
                    li Usage analytics